{% for exam in exams %}
<li class="list-group-item pb-4">
  <h5 class="text-muted">Icya {{ forloop.counter }}</h5>
  <ul class="mb-2">
    <li><strong>Wagikoze:</strong> {{ exam.completed_at|date:"d/m/Y H:i" }}</li>
    <li><strong>Amanota:</strong> {{ exam.score }} / {{ exam.exam.total_score }}</li>
    <li><strong>Ijanisha:</strong> {{ exam.percent_score }}%</li>
    <li><strong>Igihe:</strong> Iminota {{ exam.time_taken }}</li>
  </ul>
  <a href="{% url 'exam_results' exam.id %}" class="btn btn-sm btn-outline-info">
    <i class="bi bi-eye"></i> Reba cyose
  </a>
</li>
{% endfor %}
