{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Ifatabuguzi{% endblock %} 
{% block content %}
<div class="rdc-form container">
    <h1 class="text-center mb-4">Ifatabuguzi</h1>

    <!-- Subscription Status Messages -->
    {% if not subscription %}
    <p class="text-center text-warning">Ntafatabuguzi riboneka.</p>
    {% endif %} 
    
    {% if user.is_subscribed %}
    <p class="text-center text-success">
        Ifatabuguzi ryawe riracyariho kugeza ku itariki ya <strong>{{ subscription.expires_at }}</strong>.
    </p>
    {% elif user.has_ended_subscription %}
    <p class="text-center text-danger">Ifatabuguzi ryawe ryararangiye ku itariki ya <strong>{{ subscription.expires_at }}</strong>.</p>
    {% else %}
    <p class="text-center text-danger">Ntafatabuguzi ufite.</p>
    {% endif %} 

    {% include 'flash_message.html'%}
    <!-- Subscription Form -->
    <form method="post" action="{% url 'subscription' %}" action="/ajax-submit" data-ajax="true">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="plan">Hitampo:</label>
            <select class="form-control" id="plan" name="plan" required>
                <option value="" disabled selected>Kanda hano</option>
                {% for plan_value, plan_label in plans %}
                    
                    <option value="{{ plan_value }}">
                        {{ plan_value|get_plan_description }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mb-4">
            <label for="phone_number">Telefone wishyuriraho :</label>
            <input
                type="text"
                class="form-control"
                id="phone_number"
                name="phone_number"
                placeholder="e.g., 25078XXXXXXX"
                required
                pattern="2507\d{8}"
                title="Enter a valid phone number starting with '2507' followed by 8 digits (e.g., 2507XXXXXXXX)"
            />
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn">Emeza</button>
        </div>
    </form>
</div> 
{% endblock %}