.choice-text, .question_text_input {
    width: 80vw;
    max-width: 80vmax !important;
    min-width: 50vw;    
    min-height: 20px;
    max-height: 100px;
    border: 2px solid rgb(3, 140, 174);
}

.choice-text:hover, .question_text_input:hover {
    /* transform: scale(1.02); */
    transition: all 0.3s ease-in-out;
}

.question_text_input {
    max-height: 50vh;
}

.hidden {
    display: none !important;
}

.custom-flex {
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: space-between;
align-items: center;
max-width: 80vmax !important;
}

.choice-sign-radio.hidden {
    display: none;
}

.choose-image-btn {
   
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;

}
.choose-image-btn:hover {
    background-color: #0056b3;
}

.image-label {
    font-size: large;
    font-weight: bold;
    margin: 10px;
}